.TITLE{
  margin-top:60px;
  font-family:'Courier New', Courier, monospace;
  color:black;
  text-align: center;
  font-size:30px;
}

body{
  margin: 0;
  padding:0;
  display: inline;
}

a{
  text-decoration: none;
}

.main-nav{
  display:flex;
  font-size:1.25rem;
  margin-top:10px;
  list-style:none;
  background-color: lightgray;
  margin-right:5px;
}

.page-header{
  display:flex;
  justify-content:space-between;
  text-transform:uppercase;
  margin-top:-60px;
  list-style:none;
  background-color: lightgray;
  position: fixed;
  width:100%;
  z-index: 1;
}
.page-header a:hover{
	text-decoration:none;
}

.page-header h1{
  margin-top:10px;
  margin-left:5px;
  margin-bottom:10px;
  font-family:sans-serif;
  font-size:2.5vmin;
}

.page-header h1:hover{
  color:red;
}

.main-nav li{
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-size:2.5vmin;
}

.main-nav a{
  padding-left: 18px;
  padding-right: 18px;
  display: block;
  color:black;
  text-align:center;
}

.main-nav a:hover{
  background-color:gray;
  color:white;
}

.container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(min(400px,50%),1fr));
  gap:10px;
  margin:20px;
  margin-top:0px;
}

.item{
  margin:10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.item p{
  position:absolute;
  font-size: 50px;
  margin:0px;
  color:white;
}

.img_article{
  width:100%;
  filter:brightness(50%);
  height:100%
}

.item:hover .img_article{
  transform: scale(1.1,1.1);
  transition-duration: 0.35s;
}

.meisho-container{
    display:flex;
    width:100%;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
}
.meisho-imagebox{
    width:100%;
}
.meisho-imagebox h2{
    text-align:center;
    font-size:20px;
    margin:10px;
}
.meisho-image{
    margin:auto;
}
.meisho-text{
    width:100%;
}

